.bg-section h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: none;
	color: #ffc266;
	background-color: #182c39;
	margin: 100px 0;
	padding: 100px 20px;
	border-radius: 50px;

}
.bg-section h1 {
	margin-top: 50px 0;
	padding: 30px 20px;
}
#service .service-round {
	height: 100px;
	width: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 8px solid #182c39;
	text-align: center;
	display: inline-block;
	padding: 10px;
	color: #182c39;
}

#service .service-round  i {
	color: #182c39;
	
}

#service h4 {
	margin: 10px auto;
	font-size: 20px;
	color: #555;
}

#service .round:hover .fa {
	color: #ffc266;
	transition: color 2s;
	
}

#service .round:hover .service-round {
	border-color: #ffc266;
	transition: border-color 2s;
}

