#staff .thumbnail-row {
	margin: auto 60px;
}

#staff h3 {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	color: #182c39;
	margin: 50px auto 10px auto;
}

#staff .chef-img-show {
	border-radius: 50%;
	margin-bottom: 10px;
}


#staff  h5 {
	color: #222;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

#staff  h6 {
	color: #555;
	font-size: 16px;
}

#staff img:hover {
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.9);
	transition: .3s;
}

.staff > .chef-img-show{
    border-radius: 50%;
    width:170px; height: 170px
}
